<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><%-title %></title>

        <!-- Stylesheets -->
        <%- stylesheets %>


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- Add JSON support for older IE browsers -->
        <!--[if lte IE 8]>
            <script src="<%= assetUrl( 'js/json3.js.min.js' ) %>"></script>
        <![endif]-->


        <!-- Fix for Windows phone -->
        <script>
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(
                    document.createTextNode(
                        "@-ms-viewport{width:auto!important}"
                    )
                );
                document.getElementsByTagName("head")[0].
                    appendChild(msViewportStyle);
            }
        </script>

    </head>

    <body>
        <%- body %>

        <!-- Java scripts to end of the body -->
        <script src="<%= assetUrl( 'js/assets.js' ) %>" type="application/javascript"></script>
        <%- scripts %>

    </body>

</html>


<% stylesheet( assetUrl( 'css/assets.css') ) %>
<% stylesheet( assetUrl( 'css/' + pkg.name + '.css' ) ) %>
